[Unit]
Description=Run Slope Collector daily

[Timer]
OnCalendar=*-*-* 03:00:00 Asia/Tokyo
Persistent=false
AccuracySec=1min
RandomizedDelaySec=0
Unit=slope-collector.service

[Install]
WantedBy=timers.target
